<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Main</title>
  </head>
  <body>
    <div class="container">
      <a href="/search">Search For Movie</a><br />
      <a href="/add_movie">Create New Movie</a><br />
      <% if (user.Username == "admin") { %>
      <a href="/users_management">Edit Users</a>
      <% } %>
    </div>
  </body>
</html>
